.sidepanel {
	display: none;
	@media (min-width: 1024px) {
		display: block;
		padding-top: 64px;
		width: 80px;
		background: #191717;
		backdrop-filter: blur(10px);
		@media (min-width: 1200px) {
			width: 102px;
		}
	}
	&__wrap {
		display: grid;
		place-items: center;
	}
	&__avatar {
		margin-bottom: 64px;
		img {
			width: 54px;
			height: 54px;
		}
	}
}

.nav {
	display: grid;
	place-items: center;
	&__links {
		margin: 64px 0;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
	&__link {
		display: grid;
		place-items: center;
		width: 36px;
		height: 36px;
		background: #2f2b32;
		border-radius: 40px;
		transition: 0.3s ease-in;
		@include background_state;
	}
}
